



  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">




  <div>
   <h1>Results for <%= @ingredient.name %></h1>
  </div>

<li><img src="<%= @recipe['smallImageUrls'][0]%>"</img></li>

<li><%=link_to @recipe['recipeName'], "/details/#{@recipe['id']}"%></li>

<li><%=link_to "View other recipes", "/list/#{@ingredient.name}", :class => "btn btn-primary" %></li>




 <ul>
  <li><%= link_to 'Back', new_ingredient_path, :class => "btn btn-primary"%></li>
</ul>


</ul>

		
		
  </div>
  </div>
</div>
