

 <ul class="nav nav-pills">
  <li><%= link_to('New Ingredient', new_ingredient_path) %></li>
  <li><%= link_to('Delete Ingredient', @ingredient, :method => :delete, :confirm => 'Are you sure?') %></li>
</ul>

<div class="row">
  <div class="col-md-3 col-sm-3">
   <p class="lead"><%= @ingredient.name %>
   <p>
  </div>
  
</ul>


<% @parse['matches'].each do |f| %>
<%= f %>
<li><%=link_to f['recipeName'], "http://www.yummly.com/recipe/#{f['id']}"%></li>
<li><%= f['ingredients'] %></li>
<%= a href = "smallImageUrls" %>
<%end%>



